## Try 2.2.1: Lists.

* **Click the double-right arrow to restart the kernel and run all cells.**
* **Examine the code below.**

* **In cell [4], change the argument of the pop() method to 1. Restart the kernel and run all cells to see the changes.**

In [3]:
# Create a list
list = [33, 2, 14]

In [5]:
# Find the length of the list
len(list)

3

In [7]:
# Append 'apples' to the list
list.append('apples')
list

[33, 2, 14, 'apples']

In [9]:
# Remove and display the first list element
list.pop(0)

33

In [11]:
# Print the list
list
# Current list contains 2, 14, and 'apples'

[2, 14, 'apples']

In [13]:
# Remove 14 from the list
list.remove(14)
list

[2, 'apples']

In [15]:
list + ['bananas', 'pineapples']

[2, 'apples', 'bananas', 'pineapples']

## Try 2.2.2: Tuples and named tuples.

* **Click the double-right arrow to restart the kernel and run all cells.**
* **Examine the code below.**
* **In cell [4], uncomment whiteHouse[1] = 50. Restart the kernel and run all cells to see the changes.**

In [1]:
# Load namedtuple class
from collections import namedtuple

In [2]:
# Create a tuple
whiteHouse = (38.8977, 77.0366)

In [3]:
# Print tuple elements and length
print('Coordinates:', whiteHouse)
print('Latitude:', whiteHouse[0])
print('Longitude:', whiteHouse[1])
print('Tuple length:', len(whiteHouse))

Coordinates: (38.8977, 77.0366)
Latitude: 38.8977
Longitude: 77.0366
Tuple length: 2

In [4]:
# The commented line below produces an error
# whiteHouse[1] = 50

In [5]:
# Create a named tuple type Car and object chevyBlazer
Car = namedtuple('Car', ['make', 'model', 'price', 'horsepower', 'seats'])
chevyBlazer = Car('Chevrolet', 'Blazer', 32000, 275, 8)
chevyBlazer

Car(make='Chevrolet', model='Blazer', price=32000, horsepower=275, seats=8)

In [6]:
# Display the chevyBlazer's price
chevyBlazer.price

32000

## Try 2.2.3: Sets.


* **Click the double-right arrow to restart the kernel and run all cells.**

* **Examine the code below.**

* **Did any of the results give an empty set? Why?**

In [ ]:
# Create a set
set = {'abc', 'xyz'}

In [ ]:
# Add 'banana' to the set
set.add('banana')
set

In [ ]:
# Remove 'abc' from the set
set.remove('abc')
set

In [ ]:
# Remove a random element from the set
set.pop()
set

In [ ]:
# Display the union of set and {'xyz', 44}
set.union({'xyz', 44})

In [ ]:
# Display the intersection of set and {'xyz', 44}
set.intersection({'xyz', 44})